{% extends 'base-front.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
    <style>
        table {
            table-layout: fixed;
            width: 30%;
            border-collapse: collapse;
            border: 3px solid #fef5ef;
        }

        thead th:nth-child(1) {
            width: 30%;
        }

        thead th:nth-child(2) {
            width: 20%;
        }

        thead th:nth-child(3) {
            width: 15%;
        }

        thead th:nth-child(4) {
            width: 35%;
        }

        th, td {
            padding: 20px;
        }
        input[type=button], input[type=submit], input[type=reset] {
            background-color: #fef5ef;
            border: none;
            color: #131212;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

        <br> <br> <br>
        <center>
            <table width="10%" height="30%">
                <tr >
                    <td width="50%" align="center">
                        <h1 class="h3 mb-3 font-weight-normal">Entrez votre nouveau mot de passe</h1>
                    </td>
                </tr>
                </tr>
                <tr >
                    <td width="50%">

                        <form method="post">
                            <label for="pass">Mot de passe</label>
                            <input type="password" name="password" id="pass">
                            <input type="hidden" name="token" value="{{ token }}">
                    </td>
                </tr>
                <tr >
                    <td width="50%" align="center">

                        <input type="submit" class="btn btn-primary" value="Valider">

                    </td>
                </tr>

            </table>
            <br> <br> <br>
        </center>
    </form>

{% endblock %}